This is a basic data cleansing project using Python. I am taking a data set on cryptocurreny pricing information, and cleansing it in order to be prepared to better present the data, and make important purchasing decisions.

In [1]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv('CryptocoinsHistoricalPrices.csv', low_memory=False)

In [119]:
df.head()

,Unnamed: 0,Date,Open.,High,Low,Close..,Volume,Market.Cap,coin,Open,Close,Delta
0,1,2018-08-14,6287.66,6287.94,5971.05,6199.71,"5,301,700,000","108,199,097,492",BTC,6287.66,6199.71,-0.013988
1,2,2018-08-13,6341.36,6537.05,6225.72,6297.57,"4,083,980,000","109,111,523,954",BTC,6341.36,6297.57,-0.006905
2,3,2018-08-12,6283.65,6409.85,6237.50,6322.69,"5,665,250,000","108,106,451,582",BTC,6283.65,6322.69,0.006213
3,4,2018-08-11,6185.79,6455.74,6109.03,6295.73,"4,047,850,000","106,409,456,302",BTC,6185.79,6295.73,0.017773
4,5,2018-08-10,6571.42,6591.26,6124.52,6184.71,"4,528,680,000","113,028,788,092",BTC,6571.42,6184.71,-0.058847

As seen in the dataframe head, the first noticeable thing is that there are duplicate columns. We can see that there are two seperate Open and Close columns. The first step of the data cleansing process is to delete these duplicate columns, because they are not needed and will confuse when working.

In [120]:
to_drop = ['Open.', 'Close..']
df.drop(columns=to_drop, inplace=True)

In [121]:
df.head()

,Unnamed: 0,Date,High,Low,Volume,Market.Cap,coin,Open,Close,Delta
0,1,2018-08-14,6287.94,5971.05,"5,301,700,000","108,199,097,492",BTC,6287.66,6199.71,-0.013988
1,2,2018-08-13,6537.05,6225.72,"4,083,980,000","109,111,523,954",BTC,6341.36,6297.57,-0.006905
2,3,2018-08-12,6409.85,6237.50,"5,665,250,000","108,106,451,582",BTC,6283.65,6322.69,0.006213
3,4,2018-08-11,6455.74,6109.03,"4,047,850,000","106,409,456,302",BTC,6185.79,6295.73,0.017773
4,5,2018-08-10,6591.26,6124.52,"4,528,680,000","113,028,788,092",BTC,6571.42,6184.71,-0.058847

Next, I want to replace all instances of '-', which is what this data set defines as null, to be seen as null in python.

In [122]:
df = df.replace({'-': np.nan})

Another issue we will soon run into is that the values for Volume and Market Cap will be treated as strings, but we may want to work with them as numbers. We must first remove commas, and then change the column data type.

In [123]:
df['Volume'] = df['Volume'].str.replace(',','')

In [124]:
df['Market.Cap'] = df['Market.Cap'].str.replace(',','')

Another issue we will eventually run into is the fact that there are multiple coins that are analyzed in this table. For the purposes of our analysis, we are going to limit to BTC, ETH, and XRP. We also need to ensure that we know which rows correspond with each of these 3 coins.

In [206]:
bitcoinData = df.loc[df['coin'] == 'BTC']

In [199]:
etheriumData = df.loc[df['coin'] == 'ETH']

In [207]:
rippleData = df.loc[df['coin'] == 'XRP']

In [128]:
bitcoinData.head()

,Unnamed: 0,Date,High,Low,Volume,Market.Cap,coin,Open,Close,Delta
0,1,2018-08-14,6287.94,5971.05,5301700000,108199097492,BTC,6287.66,6199.71,-0.013988
1,2,2018-08-13,6537.05,6225.72,4083980000,109111523954,BTC,6341.36,6297.57,-0.006905
2,3,2018-08-12,6409.85,6237.50,5665250000,108106451582,BTC,6283.65,6322.69,0.006213
3,4,2018-08-11,6455.74,6109.03,4047850000,106409456302,BTC,6185.79,6295.73,0.017773
4,5,2018-08-10,6591.26,6124.52,4528680000,113028788092,BTC,6571.42,6184.71,-0.058847

In [142]:
etheriumData.head()

,Unnamed: 0,Date,High,Low,Volume,Market.Cap,coin,Open,Close,Delta
1935,1936,2018-08-14,286.37,254.65,2137850000,29011325541,ETH,286.37,278.93,-0.025980
1936,1937,2018-08-13,323.55,284.93,1751190000,32433585929,ETH,320.21,286.50,-0.105275
1937,1938,2018-08-12,328.59,318.60,1625420000,32489149687,ETH,320.82,319.57,-0.003896
1938,1939,2018-08-11,334.26,308.49,1790370000,33843432717,ETH,334.26,322.11,-0.036349
1939,1940,2018-08-10,367.05,329.59,1699400000,37026418724,ETH,365.78,334.18,-0.086391

In [130]:
rippleData.head()

,Unnamed: 0,Date,High,Low,Volume,Market.Cap,coin,Open,Close,Delta
3039,3040,2018-08-14,0.279615,0.253983,276768000,10974569489,XRP,0.278738,0.274272,-0.016022
3040,3041,2018-08-13,0.310680,0.276544,235117000,11694547623,XRP,0.297572,0.277466,-0.067567
3041,3042,2018-08-12,0.309376,0.297057,178827000,11813701285,XRP,0.300604,0.297870,-0.009095
3042,3043,2018-08-11,0.321210,0.291582,284423000,12620041078,XRP,0.321122,0.301262,-0.061846
3043,3044,2018-08-10,0.347973,0.316909,249264000,13604325471,XRP,0.346167,0.320426,-0.074360

Now that we have these seperate tables, we need to find where we have empty cells and decide what to do with them. First, let's see where our empties are.

In [131]:
bitcoinData.isnull().sum()

Unnamed: 0      0
Date            0
High            0
Low             0
Volume        243
Market.Cap      0
coin            0
Open            0
Close           0
Delta           0
dtype: int64

In [132]:
etheriumData.isnull().sum()

Unnamed: 0    0
Date          0
High          0
Low           0
Volume        0
Market.Cap    1
coin          0
Open          0
Close         0
Delta         0
dtype: int64

In [133]:
rippleData.isnull().sum()

Unnamed: 0      0
Date            0
High            0
Low             0
Volume        145
Market.Cap      0
coin            0
Open            0
Close           0
Delta           0
dtype: int64

As we can see, the Bitcoin and Ripple datasets are missing quite a few volume data points. First, I will deal with the etherium set, where there is only one missing value, which is a market cap. In this situation, while I could fill this with the average of all of the market cap data, ethereum has climbed a ton in market cap, and this average would not be near accurate for the date of this data point (being the first data point taken), so instead I am going to remove this row.

In [203]:
etheriumData = etheriumData.dropna(subset=['Market.Cap'])

We have now removed the missing market cap value for ethereum, so now we need to look at the missing Volume's for Bitcoin and Ripple, which account for many more of the total data points. Because, for the sake of this visualization, I am more focused on high low, delta, open, and close, I am going to just fill the empty Volume's with the mean of all other volumes. I know this is typically not good practice, but for the sake of this expirement, the Volume of each coin is not important.

In [208]:
bitcoinData = bitcoinData.fillna(bitcoinData.mean())

In [209]:
rippleData = rippleData.fillna(rippleData.mean())

The data is now clean and ready to be presented through various visualization techniques. For the sake of this project, the focus is on data cleansing, so I will not be showing visualizations.